*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #FD8F6A;
    --black-90: hsl(0, 0%, 10%);
    --black-70: hsl(0, 0%, 30%);
    --black-60: #666666;
    --black-alpha-50: hsla(0, 0%, 0%, 0.5);
    --white: #fff;
    --white-40: hsla(0, 0%, 100%, 0.4);
    --border-color-1: hsl(0, 0%, 90%);
    --border-color-2: hsla(0, 0%, 80%, 0.3);
    --violet-light: #BFB2C5;
    --green-light: #95B28F;
    --yellow-light: #E8E1DA;
    --body-bg-color: #f3f0eb;
    --shadow: 0 0 10px hsl(36, 7%, 86%);
    --blue-light: #A1D5F1;
    --blue:#4FCAF2;
    --pink: #FEADB3;
    --purple-light: #E743F3;
    --purple: #A42EF2;
}


/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-select: none;
}

/* base============== */
body{
    background-color: var(--body-bg-color);
    font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 300;
    color: var(--black-70);
    min-height: 100vh;
    overflow-x: hidden;
}
a{
    color: var(--main-color);
    text-decoration: none;
}
a:hover{
    color: var(--main-color);
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
::selection{
    color: var(--white);
    background-color: var(--green-light);
}

.box{
    background-color: transparent;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 30px;
}

/* section================= */
.section-padding{
    padding: 60px 0;
}
.section-title{
    margin-bottom: 40px;
}
.section-title .title{
    font-size: 42px;
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: 700;
}
.navbar-toggler i{
    color: (--black-60);
}
.navbar-toggler:focus {
    box-shadow: unset;
}

/* header======================== */
.header{
    border-bottom: 1px solid var(--border-color-2);
}

.header-logo a{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--black-70);
}
.header-logo span{
    color: var(--main-color);
}
.header .menu-item{
    display: inline-block;
    margin-left: 20px;
    position: relative;
}
.header .menu-item >a{
    display: block;
    padding: 24px 0;
    font-weight: 400;
    color: var(--black-70);
    text-transform: capitalize;
    transition: color .2s ease-in;
}
.header .sub-menu-item a:hover,
.header .menu-item:hover >a{
    color: var(--main-color);
}
.header .menu-item>a i{
    font-size: 13px;
    margin-left: 3px;
    cursor: pointer;
}
.header .sub-menu{
    position: absolute;
    left: 0; top: 100%;
    background-color: var(--white);
    width: 150%;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: all 0.2s ease-in;
    z-index: 2;
    visibility: hidden;
    transform: translateY(5px);
}
.navbar{
    padding: 0;
}
.navbar-light .navbar-nav .nav-link{
    color: var(--black-alpha-50);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--main-color);
} 
.navbar-light .navbar-brand {
    color: var(--black-60);
}   
.navbar-collapse{
    flex-grow: unset;
}
.navbar-light .navbar-nav .nav-link.active{
    color: var(--main-color);
}
.navbar-light .navbar-toggler {
    color: var(--black-70);
    border-color: transparent;
}
.navbar-toggler:focus{
    outline: none;
}
@media (min-width: 992px){
    .header .menu-item:hover > .sub-menu{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}
.header .sub-menu-item a{
    display: block;
    padding: 10px 20px;
    color: var(--black-70);
    text-transform: capitalize;
    font-weight: 400;
    transition: color 0.2s ease-in;
}
.header-backdrop,
.header-close-btn,
.header-hamburger-btn{
    display: none;
}

/* banner section=========================
=========================================== */
.banner-section{
    min-height: 680px;
    position: relative;
}

.container{
    max-width: 1140px;
    --bs-gutter-x: 15px;
}
.row{
    --bs-gutter-x: 30px;
}
.banner-img{
    max-height: 80vh;
    overflow: hidden;
    border-radius: 20px;
    
}
.banner-img img{
    border-radius: 20px;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner-text h1{
    font-weight: 700;
    font-size: 42px;
    color: var(--black-90);
}
.banner-text p{
    font-size: 16px;
    color: var(--black-70);
    text-transform: capitalize;
}
.carousel-inner,
.carousel-item{
    border-radius: 20px;
    overflow: hidden;
}
.carousel-item img{
    max-width: 100%;
}

/* button=============== */
.btn-theme{
    background-color: var(--main-color);
    color: var(--white);
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 8px;
    transition: color .1s ease;
}
.btn-theme:hover{
    color: var(--white);
    background-color: #ee744b;
}
.btn-theme:focus{
    box-shadow: 0 0 8px var(--main-color);
}




/* about-section=================================
=============================================== */
.about-section{
    min-height: 100vh;
}
.about-img-inner{
    width: 65%;
}

.about-text{
    margin-bottom: 80px;
}
.about-text p{
    font-size: 16px;
    color: var(--black-70);
}
.services{
    background-color: var(--yellow-light);
    padding: 30px 20px;
    border-radius: 10px;
    width: 100%;
    height: 230px;
}
.services .services-title{
    font-size: 24px;
    color: var(--black-70);
    font-weight: 500;
    text-transform: capitalize;
}
.services-progress:not(:last-child){
    margin-bottom: 10px;
}
.services span{
    display: inline-block;
    color: var(--black-70);
    font-size: 12px;
    margin-bottom: 4px;
}
.progress{
    height: 7px;
    background-color: var(--white);
}
.progress-bar{
    background-color: var(--green-light);
    height: 7px;
}
.software{
    height: 230px;
    flex-direction: column;
    justify-content: space-between;
}
.software1{
    background-color: var(--violet-light);
    border-radius: 10px;
    padding: 20px 20px;
}
.software2{
    background-color: var(--green-light);
    border-radius: 10px;
    padding: 20px 20px;
}
.software-img-item{
    width: 60px;
}
.about-social{
    width: 65%;
}
.about-social-link{
    display: block;
    margin: 0 10px;
}
.about-social-link i{
    font-size: 50px;
    color: var(--green-light);
}


/* carosel=============================================================
====================================================================== */
.slick-initialized .slick-slide{
    margin: 0 10px;
}
.slick-prev{
    position: absolute;
    top: 50%; left: -20px;
    transform: translateY(-50%);
    background-color: var(--main-color);
    color: white ;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    z-index: 2;
    padding: 10 20px;
    border-radius: 10px;
}
.slick-next{
    position: absolute;
    top: 50%; right: -20px;
    transform: translateY(-50%);
    background-color: var(--main-color);
    color: white ;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    z-index: 2;
    padding: 10 20px;
}
.slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50px);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 12px;
}
.slick-dots button {
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: var(--yellow-light);
    box-sizing: border-box;
    outline: none;
    transition: 0.2s linear;
}

.slick-dots .slick-active button {
    background-color: var(--main-color);
}

/* .slick-list {
    overflow: unset;
    width: 100%;
} */

.portfolio-section{
    min-height: 100vh;
}
.portfolio-item{
    background-color: var(--white);
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    
}
.portfolio-item h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--black-70);
    margin: 20px 0 10px;
    padding-left: 10px;
}
.portfolio-item h3 span{
    color: var(--black-alpha-50);
}
.portfolio-item p{
    font-size: 16px;
    color: var(--black-70);
    padding-left: 10px;
}    
.img-box{
    border-radius: 10px;
    overflow: hidden;
}


/* contact===========================================
===================================================== */
.contact-section{
    min-height: 100vh;
}
.form-title{
    font-size: 24px;
    margin: 0 0 30px;
}
.form-control::placeholder{
    color: var(--black-alpha-50);
}
.form-group{
    margin-bottom: 25px;
    position: relative;
}
.form-control{
    height: 48px;
    border-color: var(--border-color-1);
    color: var(--black-alpha-40);
    background-color: transparent;
}
.form-control:focus{
    background-color: transparent;
    color: var(--black-90);
    border-color: var(--main-color);
    box-shadow: none;
}
select.form-control:focus option{
    background-color: var(--yellow-light);
}
textarea.form-control{
    height: 120px;
    resize: none;
}
.contact-item{
    position: relative;
    padding-left: 55px;
    margin-bottom: 40px;
}
.contact-item .icon-box{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    left: 0; 
    color: var(--white);
}
.contact-item h3{
    font-size: 20px;
}
.contact-item p{
    font-size: 14px;
}
.contact-items{
    margin-bottom: 50px;
}
.contact-social{
    margin-top: 200px;
}

/* footer===================================== */
.footer{
    border-top: 1px solid var(--border-color-2);
}




/* portfolio page=========================================
===================================================================================================================== */
.breadcrumb-nav{
    padding: 10px 0;
}
.breadcrumb-nav .breadcrumb-item{
    font-size: 14px;
}
.breadcrumb-nav .breadcrumb-item + .breadcrumb-item::before,
.breadcrumb-nav .breadcrumb-item.active{
    color: var(--green-light);
}
.nav-tabs .nav-link{
    background-color: var(--white);
    border-radius:  8px;
    padding: 5px 12px;
    margin: 0 5px 10px;
    border-color: var(--border-color-2);
    color: var(--black-70);
    font-size: 16px;
}
.nav-tabs .nav-link.active{
    background-color: var(--main-color);  
    color: var(--white);
    border-color: transparent;
}
.row {
    --bs-gutter-y: 30px;
}

.img-box-item{
    overflow: hidden;
}

.tab-pane .row{
    --bs-gutter-x: 20px;
}
.tab-content .portfolio-item,
.blog-item{
    position: relative;
    transition: transform .2s linear ;
}
.tab-content .portfolio-item:hover,
.blog-item:hover{
    transform: translateY(-3px);
}



/* blog page=======================================================
============================================================================================== */
.blog-box .link{
    display: block;
}
.blog-box img{
    border-radius: 10px;
}
.blog-text h2{
    font-size: 42px;
    color: var(--black-90);
    margin: 30px 0 ;
}
.blog-text p{
    color: var(--black-60);
}
.blog-text span{
    display: inline-block;
    font-size: 16px;
    background-color: var(--green-light);
    color: var(--white);
    padding: 5px 20px;
    border-radius: 5px;
}
.blog-item .blog-text-item h2{
    color: var(--black-90);
    font-size: 24px;
    margin: 10px 0;
}
.blog-item .blog-text-item p{
    color: var(--black-60);
    font-size: 14px;
}
.blog-item .blog-text-item span{
    color: var(--white);
    background-color: var(--violet-light);
    font-size: 14px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0 10px;
}

@media (max-width:992px){
    .hide{
        display: none !important;
    }
    .contact-section,
    .portfolio-section,
    .about-section,
    .banner-section{
        min-height: auto;
    }
    .section-title .title{
        font-size: 32px;
    }
    .header .menu-item {
        margin: 0;
    }
    .banner-section{
        padding-top: 30px;
    }
    .banner-text{
        /* text-align: left; 
        left: 34%;
        top: 65%; */
        position: unset;
        transform: unset;
        text-align: left;
        margin: 30px 0;
        
    }
    .banner-text{
        position: absolute;
        left: 10%;
        top: 60%;
        
    }
    .banner-text h1{
        font-size: 24px;
       
    }
    .about-img{
        display: flex;
        justify-content: center;
    }
    .about-section .about-social-link{
        display: none;
    }
    .about-social{
        width: 100%;
    }
    .services{
        margin-bottom: 30px;
    } 

    .contact-social{
        margin: 10px 0 20px;
        justify-content: center;
    }
    .btn-form{
        min-width: 100%;
    }
    .software-img-item{
        margin: 0 5px;
    }
    .blog-text p{
        font-size: 14px;
        height: 165px;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        margin-bottom: 0;
    }
    .blog-text h2{
        font-size: 24px;
        margin: 20px 0 15px;
    }
}


/* mobile */
@media only screen and (max-width: 739px) {
    .banner-img{
        min-height: 60vh;
        position: relative;
        overflow: hidden;
    }
    .banner-section{
        border-radius: 20px;
        overflow: hidden;
    }
    .banner-text{
        position: absolute;
        left: 10%;
        top: 60%;
        
    }
    .banner-img img{
        max-width: unset;
        max-height: 100%;
    }
    .carousel-item img{
        height: 100%;
    }
    .btn-about{
        width: 100%;
    }
    .row.row-box{
        background-color: var(--white-bg);
        border: 1px solid var(--border-color-2);
        margin: 0;
        border-radius: 10px;
        --bs-gutter-y: 0;
        padding-bottom: 50px;
    }
    .column-box{
        padding: 18px;
    }
    .blog-text p{
        font-size: 14px;
        height: 104px;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
    }
    .blog-text h2{
        font-size: 24px;
        margin: 15px 0;
    }
    .blog-text span{
        font-size: 14px;
    }
    .slick-dots button{
        margin: 0 5px;
    }
}

/* backtotop ----------------------------------------
----------------------------------------------------*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--white-40); /* Set a background color */
    color: var(--purple-light); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 8px 15px; /* Some padding */
    border-radius: 8px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    border: 1px solid var(--border-color-2);
  }
  
  #myBtn:hover {
    background-image: linear-gradient(to right top, var(--purple-light), var(--pink)); 
    color: var(--white); /* Add a dark-grey background on hover */
  }
